*,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SUIT", "SUIT Variable";

  --color-navy: #1a347c;
}

.app {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1.5cm 1.5cm 2cm 1.5cm;
  font-weight: 300;
  strong {
    font-weight: 700;
    color: var(--color-navy);
  }
  a {
    color: rgba(20, 0, 150, 0.7);
    text-decoration: none;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2.5rem;

    .header-desc {
      margin-right: 10px;
      .header-desc-left {
        display: flex;
        position: relative;
      }
    }
  }
  .contact {
    margin: 1rem 0 2rem;
    font-size: 1.2rem;
    text-align: right;
    div:nth-child(n) {
      margin-top: 20px;
    }
  }
  .divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-navy);
    margin: 2rem 0;
  }
  .thin-divider {
    width: 100%;
    height: 0.5px;
    background-color: var(--color-navy);
    margin: 0 0 2rem;
  }
  .content-wrap {
    font-size: 1.3rem;
    .content:nth-child(n) {
      padding-bottom: 20px;
      margin-top: 20px;
    }
    h3 {
      font-weight: 800;
    }
    .content,
    .nth-content {
      h3:first-child {
        margin-bottom: 1rem;
      }
    }
    .content,
    .sub-content {
      p::before {
        content: "\00B7";
        margin: 0 0.3rem;
        height: 100%;
      }
      p {
        margin-bottom: 0.8rem;
      }
    }
    .nth-content {
      padding-bottom: 20px;
      margin-top: 20px;
      h4 {
        font-weight: 450;
      }
      .exp-desc {
        margin: 10px 0;
      }
      .sub-content {
        margin: 20px 0;
        h5 {
          margin-bottom: 1rem;
          font-weight: 500;
          margin-left: 1rem;
        }
        p:nth-child(n) {
          display: flex;
          margin-bottom: 0.8rem;
          margin-left: 2rem;
        }
      }
    }
  }
}
